html, body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
}

#body {
    background-color: #222;
    border-bottom: 1px solid #444;
    border-top: 1px solid #222;
    color: #fff;
    font-family: Helvetica, Arial;
    padding: 20px;
}

#header {
    background-color: #000;
    border-bottom: 1px solid #444;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#fight-link {
    display: none;
}

#footer {
    background-color: #000;
    border-top: 1px solid #222;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#footer img {
    height: 60px;
    width: 60px;
}

#body h1 {
    color: #FFCC00; /*#2199E8*/
    font-size: 32px;
    font-weight: bold;
}

#body h2 {
    color: #888;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

#body .presentation {
    padding: 10px 0 20px 0;
}

#body .modes {
    border-top: 1px solid #444;
    padding-top: 20px;
}

#body .info {
    color: #888;
    font-size: 0.9em;
}

#body label {
    color: #888;
}

#body input[type=text] {
    background-color: #888;
    border: 1px solid #222;
    display: inline-block;
    height: 2rem;
    max-width: 200px;
    padding: 3px 8px;
    width: auto;
}

#body input[type=submit] {
    display: inline-block;
}

#body #register, #body #login {
    border-top: 1px solid #444;
    padding: 20px 0 10px 0;
}

#body img.avatar {
    margin-bottom: 20px;
}

#player {
    background-color: #000;
    display: none;
    font-size: 0.9;
    position: relative;
    top: 15px;
}

#player .name {
    margin-right: 35px;
}

#player .win {
    margin-right: 10px;
}

#player .win .quantity {
    color: #149414;
}

#player .lose {
    margin-right: 35px;
}

#player .lose .quantity {
    color: #DE2916;
}

#player .quantity {
    font-weight: bold;
    margin-left: 4px;
}

div {
    text-align: center;
}

#fight .player {
    background-color: #000;
    text-shadow: 0 0 1em #000, 0 0 0.2em #000;
    font-size: 1.2em;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    width: 120px;
}

#fight .summoner {
    background-color: #000;
    border-bottom: 1px solid #444;
    height: 80px;
    width: 80px;
}

#fight .player1 .player {
    border: 1px solid #FFCC00;
    color: #FFCC00;
}

#fight .player2 .player {
    border: 1px solid #00CCFF;
    color: #00CCFF;
}

#fight .player2 .summoner {
    margin-left: 40px;
}

#fight .game {
    background-color: #000;
    min-height: 520px;
}

#fight .game .summoner {
    border: 1px solid #000;
}

#fight .game .summoner.selected {
    border: 1px solid #FFCC00;
}

#fight .game .champion img {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
}

#fight .game .champion {
    position: relative;
    text-align: left;
    height: 40px;
    width: 100%;
}

#fight .game .champion .mastery {
    display: inline-block;
    text-align: left;
    position: relative;
    width: 90%;
}

#fight .game .champion .mastery-bar {
    background: #444; /* Old browsers */
    background: -moz-linear-gradient(left, #000000 0%, #ff6e30 50%, #ffff00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #000000 0%,#ff6e30 50%,#ffff00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000000 0%,#ff6e30 50%,#ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom: 1px solid #444;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 */
    height: 40px;
}

#fight .game .summoner-detail {
    display: none;
}