html, body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
}

#body {
    background-color: #222;
    border-bottom: 1px solid #444;
    border-top: 1px solid #222;
    color: #fff;
    font-family: Helvetica, Arial;
    padding: 20px;
}

#header {
    background-color: #000;
    border-bottom: 1px solid #444;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#footer {
    background-color: #000;
    border-top: 1px solid #222;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#footer img {
    height: 60px;
    width: 60px;
}

#body h1 {
    color: #FFCC00; /*#2199E8*/
    font-size: 32px;
    font-weight: bold;
}

#body h2 {
    color: #888;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

#body .presentation {
    padding: 10px 0 20px 0;
}

#body .modes {
    border-top: 1px solid #444;
    padding-top: 20px;
}

#body .info {
    color: #888;
    font-size: 0.9em;
}

#body label {
    color: #888;
}

#body input[type=text] {
    background-color: #888;
    border: 1px solid #222;
    display: inline-block;
    height: 2rem;
    max-width: 200px;
    padding: 3px 8px;
    width: auto;
}

#body input[type=submit] {
    display: inline-block;
}

#body #register, #body #login {
    border-top: 1px solid #444;
    padding: 20px 0 10px 0;
}

#body img.avatar {
    margin-bottom: 20px;
}

#player {
    background-color: #000;
    display: none;
    font-size: 0.9;
    position: relative;
    top: 15px;
}

#player .name {
    margin-right: 35px;
}

#player .win {
    margin-right: 10px;
}

#player .win .quantity {
    color: #149414;
}

#player .lose {
    margin-right: 35px;
}

#player .lose .quantity {
    color: #DE2916;
}

#player .quantity {
    font-weight: bold;
    margin-left: 4px;
}

div {
    text-align: center;
}