h1 Competition

p
    span This is the competitive mode.
    br
    span Each game will impact your win and lose counters.

form(action='/waiting', method='POST', data-ajax='{}')
    input(name='mode', type='hidden', value='competition')
    input(type='submit', class='hollow button', value='Fight')