h1 Fight

div(id='fight')
    div(class='order')
    div(class='countdown') 0
    div(class='row')
        div(class='player1 column small-2')
            div(class='summoner top')
            div(class='summoner jungle')
            div(class='summoner middle')
            div(class='summoner carry')
            div(class='summoner support')
            div(class='player')
        div(class='game column small-8')
        div(class='player2 column small-2')
            div(class='player')
            div(class='summoner top')
            div(class='summoner jungle')
            div(class='summoner middle')
            div(class='summoner carry')
            div(class='summoner support')