div(id='fight')
    div(class='order')
    div(class='countdown') -
    div(class='row')
        div(class='player1 columns small-2')
            div(class='summoner top')
            div(class='summoner jungle')
            div(class='summoner middle')
            div(class='summoner carry')
            div(class='summoner support')
            div(class='player')
        div(class='game columns small-8')
        div(class='player2 columns small-2')
            div(class='player')
            div(class='summoner top')
            div(class='summoner jungle')
            div(class='summoner middle')
            div(class='summoner carry')
            div(class='summoner support')