h1 Hi Thomas Prelot!

p Welcome! Hope you will have fun developing with Danf!

#ul
#    each champion in champions.data
#        li= 'http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/' + champion.id + '.png'

p= 'champions: ' + responses.champions
#p= 'summoners: ' + responses.summoners