h1 Welcome to LoLve !

div(class='presentation')
    span Build your team from challenger summoners and fight vs your friends or random real players
    br
    span Refine your strategy to win
    br
    span(class='info') be the fastest to choose and impose your style or observe your opponent and counter him

div(class='modes')
    div(class='row')
        div(class='small-12 large-4 columns')
            h2 Training
            p Train vs a computer player to learn the basics
            a(href='/training', class='hollow button', data-ajax='{}') Train now !
        div(class='small-12 large-4 columns')
            h2 Competition
            p Fight in a competitive mode vs a random player
            a(href='/competition', class='hollow button', data-ajax='{}') Fight now !
        div(class='small-12 large-4 columns')
            h2 Challenge
            p Challenge one of your friend
            a(href='/challenge', class='hollow button', data-ajax='{}') Challenge now !