doctype html
html
    head
        title lolve

        link(rel='icon', type='image/png', href='favicon.png')
        link(rel='stylesheet', type='text/css', href='/-/gnucki-lolve/css/style.css')
        link(rel='stylesheet', type='text/css', href='/-/gnucki-lolve/css/foundation/foundation.css')
        link(rel='stylesheet', type='text/css', href='/-/gnucki-lolve/css/foundation/foundation-icons.css')

        script.
            var require = {
                config: {
                    app: {
                        context: JSON.parse('!{_context}') || {}
                    }
                }
            };
        script(data-main='/app', src='/require', async)
    body
        header
            div(id='header')
                a(id='back-home', href='/', data-ajax='{}')
                    img(src='/-/gnucki-lolve/img/lolve.png')
                div(id='player')
                    a(class='loader', href='/player', data-ajax='{"autoload": 0}')
                    span(class='name')
                    span(class='win')
                        span(class='label') W:
                        span(class='quantity') 0
                    span(class='lose')
                        span(class='label') L:
                        span(class='quantity') 0
                    a(class='logout', title='logout', href='/logout', data-ajax='{}')
                        i(class='fi-power size-36')
        article
            div(id='body')
                != _view.body
        footer
            div(id='footer')
                a(href='/champions', data-ajax='{"autoload": 0}')
                div(class='powered')
                    a(href='https://github.com/gnodi/danf')
                        img(src='/-/gnucki-lolve/img/powered.png')
