doctype html
html
    head
        title lolve

        link(rel='icon', type='image/png', href='favicon.png')
        link(rel='stylesheet', type='text/css', href='/-/gnucki-lolve/css/style.css')
        link(rel='stylesheet', type='text/css', href='/-/gnucki-lolve/css/foundation.css')

        script.
            var require = {
                config: {
                    app: {
                        context: JSON.parse('!{_context}') || {}
                    }
                }
            };
        script(data-main='/app', src='/require', async)
    body
        header
            div(id='header')
                a(href='/', data-ajax='{}')
                    img(src='/-/gnucki-lolve/img/lolve.png')
        article
            div(id='body')
                != _view.body
        footer
            div(id='footer')
                a(href='/champions', data-ajax='{"autoload": 0}')