div(class='row')
    div(class='small-12 large-4 large-offset-4 columns')
        p
            span You need to be connected to play LoLve
            br
            span(class='info') (please note this is not your League of Legends account)

        div(id='login')
            p Login !

            form(action='/login', method='POST', data-ajax='{}')
                label(class='label', for='username') Username
                input(name='username', type='text')
                label(class='label', for='password') Password
                input(name='password', type='text')
                input(name='mode', type='hidden', value='login')
                br
                input(type='submit', class='hollow button', value='Login')
        div(id='register')
            p No account yet ? Register !

            form(action='/login', method='POST', data-ajax='{}')
                label(class='label', for='username') Username
                input(name='username', type='text')
                label(class='label', for='password') Password
                input(name='password', type='text')
                input(name='mode', type='hidden', value='registering')
                input(name='avatar', type='hidden', value='Trundle')
                br
                input(type='submit', class='hollow button', value='Register')